body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: px;
    margin: 0px;
}

/* Navigation Menu Styling */
nav {
    margin-top: 20px;
}
nav div {
    background-color: rgb(184, 184, 184);
    overflow: hidden;
    padding: 10px;
}
nav ul {
    font-size: 20px;
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 70px;
    padding-bottom: 15px
}
nav li {
    float: left;
    padding-right: 20px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    font-weight: bold;
}

/* Main body */
.main {
    margin: 170px;
    margin-top: 30px;
}
    /* iframe center alignment */
iframe {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flex-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

div.project-side-text {
    margin-top: 0px;
    max-width: 50%;
}

